.ridecell-maps-container {
    width: 100%;
    .ridecell-maps {
        width: 55%;
        float: left;
        margin-right: 5%;
    
    }
    .ridecell-maps-table {
        width:40%;
        float:right;
    }
}